{% extends 'base.html' %}

{% block metadescription %} {{metadescription}} {% endblock %}
{% block metatags%} Palabras, claves, posicionamiento, SEO {% endblock %}
{%block title%} {{title}} {%endblock%}

{% block content %}
  <h1>{{header}}</h1>
  <ul class="list-group">
    {% for articulo in articulos %}
        <li class="list-group-item">
          {{ articulo.title }}

          {% if articulo.published %}
          <span class="text-success"> Publicado </span>
          {% else %}
          <span class="text-danger">No publicado</span>
          {% endif %}
        </li>
    {% endfor %}
  </ul>
{% endblock %}